[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "papeR"]
	path = papeR
	url = https://github.com/hofnerb/paper
	shallow = true
	registered = true
[submodule "stabs"]
	path = stabs
	url = https://github.com/hofnerb/stabs
	shallow = true
	registered = true
